@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    --background-blue: hsl(225, 100%, 94%);
    --blue:  hsl(245, 75%, 52%);
    --pale-blue:hsl(225, 100%, 98%);
    --dark-blue:hsl(223, 47%, 23%);
    --Desaturated-blue:#766cf1;
    --Very-desaturated-blue: hsl(224, 23%, 55%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /*Cada 1rem será considerado 10px*/
    font-size: 62.5%;
}
body{    
    background: var(--background-blue) url(../images/pattern-background-desktop.svg) no-repeat;
    max-width: 1440px;  
    min-width: 360px;
    padding: 100px 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;    
}
main{    
    width: 450px;
    height: 700px;
    background-color: #fff;   
    border-radius: 20px;  
    text-align: center; 
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.123); 
}
header.hero img{
    border-radius: 20px 20px 0 0;
}
section.contain{
    padding: 50px;
}
section.contain h1{
    color:var(--dark-blue);
    font-weight: 900;
    margin-bottom: 20px;
    font-size: 2.7rem;
}
section.contain > p{
    color: var(--Very-desaturated-blue);
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1.7rem;
    line-height: 1.6;
}
section .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--pale-blue);
    width: 100%;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 25px;
    border-radius: 20px;
}
section .box .txt{
   flex-grow: 4 ;
   text-align: left;
   padding-left: 15px;  
}
section .box .txt p{
    color:var(--dark-blue);
    font-weight: 900;
}
section .box span{
    display: block;
    color: var(--Very-desaturated-blue);
    font-weight: 500;
}
section .box a{
   color: var(--blue);
   font-size: 1.3rem;
   font-weight: 700;
}
section .box a:hover{
    color: var(--Desaturated-blue);
    text-decoration: none;
}
section.contain button{
    display: block;
    background-color:var(--blue);
    width: 100%;
    height: 50px;    
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 25px;
    cursor: pointer;
}
section.contain button:hover{
    background-color:var(--Desaturated-blue);
}
section.contain > a{
    text-decoration: none;
    color: var(--Very-desaturated-blue);
    font-size: 1.4rem;
    font-weight: 700;
}
section.contain > a:hover{
    color: var(--dark-blue);
}